<div class="container-fluid h-100">
  <div class="row h-100">
    {{>dashboardNav}}
    <div class="col-sm-8 col-md-9">
      <div style="padding: 30px">
      <h2 style="text-align: center;" class="font-weight-bold">Training Module 3: SUD Treatment Principles and Application for Alcohol, Marijuana, Stimulant, and Opioid Use</h2>
      <hr>
      
      <p style="font-size:18px;font-weight:bold;">In the third and last module, you will learn intervention strategies for reducing substance use. You will learn a brief treatment manual in motivational interviewing (MI) and cognitive behavior therapy (CBT) to overcome addiction, including indications for drug-specific (i.e., alcohol, marijuana, stimulants, opioids) reward mechanisms and cravings. You will receive instruction and guided practice in topics that include using the OARS to elicit intrinsic reasons for change; developing skills of hearing a wide variety of change talk; recognizing the difference between contemplative vs. mobilizing change talk; developing skills for responding to sustain talk and discord; using strategies (e.g., change ruler) for consolidating commitment to change; and coping skills training for cravings and urges to prevent relapse.</p>
      
      <p style="font-size:22px;font-weight:bold;">Learning Objectives</p>
      <div class="p-2">
        <p style="font-size:18px;font-weight:bold;">
          At the end of this program the learner will be able to:<br />
          1. Identify and describe the key treatment topics in a cognitive-behavioral skills-building approach to treating substance use disorders <br />
          2. Develop skills for using social and recreational counseling.<br />
          3. Develop skills for using Sobriety sampling <br />
          4. Develop skills for using Coping with urges/cravings <br />
          5. Develop skills for using Coping with social pressure <br />
          6. Develop skills for using Risky thinking and decision making <br /> 
          7. Develop skills for using Mood Management <br />          
        </p>
      </div>

      {{> accreditation credits='3.5'}}

      <p style="font-size:18px;font-weight:bold;">Please note that you will need to keep track of your progress. We advise you to write down your training module progress (e.g., video 3.3, 10:00 minutes) before you exit this screen. The webpage will not keep track of your progress for you.</p>				
      <br>
	     {{#each sources}}
        {{#each this}}
          <h4 class="font-weight-bold">Module {{@key}}</h4>
          <p><iframe width="420" height="315" src="{{this}}" frameborder="0" allowfullscreen></iframe></p>
        {{/each}}
      {{/each}}

	  	<button class="btn btn-primary" onclick="startQuiz('{{user._id}}', '{{moduleId}}')">Start Quiz</button>

      <!-- {{#if user.quizCompleted}}
      {{else}}
          <button class="btn btn-primary" onclick="startQuiz('{{user._id}}', '{{moduleId}}')">Start Quiz</button>
      {{/if}} -->         
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/public/scripts/training.js"></script>