<div class="container-fluid h-100">
  <div class="row h-100">
    {{>dashboardNav}}
    <div class="col-sm-8 col-md-9">
      <div style="padding: 30px">
      <h2 style="text-align: center;font-weight:bold;">Training Module 1: Screening, Brief Intervention, and Referral to Treatment Strategies</h2>        
      <hr>      
      <p style="font-size:18px;font-weight:bold;">In the first module, you will learn how to comprehensively implement the SBIRT model. You will learn to identify substance use in outpatient settings, use universal screening strategies, provide brief intervention using motivational interviewing to enhance readiness for change, and refer a client to SUD treatment that addresses needs on the continuum of care.</p>

      <p style="font-size:22px;font-weight:bold;">Learning Objectives</p>
      <div class="p-2">
        <p style="font-size:18px;font-weight:bold;">
          At the end of this program the learner will be able to:<br />
          1. Identify the tasks of Motivational interviewing. <br />
          2. Describe the spirit of Motivational interviewing. <br />
          3. Formulate open questions which are directive and evocative <br />
          4. Formulate affirmations <br />
          5. Formulate reflections <br />
          6. Formulate summaries <br /> 
          7. Develop skills for hearing different types of change talk <br />
          8. Develop the ability to differentiate contemplative change talk and mobilizing change talk<br />
          9. Practice using the core skills in a directive manner to help clients resolve ambivalence about change
        </p>
      </div>

      {{> accreditation credits='3.5'}}

      <p style="font-size:18px;font-weight:bold;">Please note that you will need to keep track of your progress. We advise you to write down your training module progress (e.g., video 1.3, 10:00 minutes) before you exit this screen. The webpage will not keep track of your progress for you.</p>				
      <br>
      {{#each sources}}
        {{#each this}}
          <h4 class="font-weight-bold">Module {{@key}}</h4>
          <p><iframe width="420" height="315" src="{{this}}" frameborder="0" allowfullscreen></iframe></p>
        {{/each}}
      {{/each}}	  

	  <button class="btn btn-primary" onclick="startQuiz('{{user._id}}', '{{moduleId}}')">Start Quiz</button>

	  <!-- {{#if user.quizCompleted}}
	  	{{else}}
      		<button class="btn btn-primary" onclick="startQuiz('{{user._id}}', '{{moduleId}}')">Start Quiz</button>
      {{/if}} -->        
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/public/scripts/training.js"></script>