<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid h-100">
  <div class="row h-100">
    {{>dashboardNav}}
    <div class="col-sm-9 col-md-10">
      <div style="padding: 30px">
        <h3>Dashboard</h3>        
        <hr>
        <p>Please complete the training modules below in sequence, starting with training module 1. At the conclusion of each training module, you must take a quiz and score 80% or greater to be eligible for a certificate at completion of the three modules.</p>

        <p>Please note that you will need to keep track of your progress. We advise you to write down your training module progress (e.g., video 2.3, 10:00 minutes) before you exit this screen. The webpage will not keep track of your progress for you.</p>

        <ul style="font-size:25px;">
        	<li>
        		<a href="../training-module/1">Training Module 1: Screening, Brief Intervention, and Referral to Treatment Strategies</a>
                {{#if user.quizCompleted.1.moduleCompleted}}
                    {{#iff user.quizCompleted.1.score '>=' 80}}
                        <i class="fa fa-check" aria-hidden="true" style="color:green">{{../user.quizCompleted.1.score}}%</i>
                    {{else}}
                        <i class="fa fa-times" aria-hidden="true" style="color:red">{{../user.quizCompleted.1.score}}%</i>
                    {{/iff}}
                {{/if}}
        	</li>
        	<li>
        		<a href="../training-module/2">Training Module 2: Assessment of Substance Use</a>
                {{#if user.quizCompleted.2.moduleCompleted}}
                    {{#iff user.quizCompleted.2.score '>=' 80}}
                        <i class="fa fa-check" aria-hidden="true" style="color:green">{{../user.quizCompleted.2.score}}%</i>
                    {{else}}
                        <i class="fa fa-times" aria-hidden="true" style="color:red">{{../user.quizCompleted.2.score}}%</i>
                    {{/iff}}
                {{/if}}
        	</li>
        	<li>
        		<a href="../training-module/3">Training Module 3: SUD Treatment Principles and Application for Alcohol, Marijuana, Stimulant, and Opioid Use</a>
                {{#if user.quizCompleted.3.moduleCompleted}}
                    {{#iff user.quizCompleted.3.score '>=' 80}}
                        <i class="fa fa-check" aria-hidden="true" style="color:green">{{../user.quizCompleted.3.score}}%</i>
                    {{else}}
                        <i class="fa fa-times" aria-hidden="true" style="color:red">{{../user.quizCompleted.3.score}}%</i>
                    {{/iff}}
                {{/if}}
        	</li>
        </ul>
      </div>
    </div>
  </div>
</div>
